/* VARIABLES */

:root {
    --poppins-font: "Poppins", sans-serif;
    --primary-blue: #13B4E0;
    --secondary-gray: #B5B6B7;
    --white-background: #F2F7F9;
    --text-color: #555;
    --title-color: #222222;
    
}

/* Css Reset june 2024 */

* { 
    margin: 0; 
    padding: 0; 
}
*, *::before, *::after { box-sizing: border-box; }

html{
    font-size: 62.5%;
}

body { 
    min-height: 100dvh;
    font-family: var(--poppins-font);
    font-weight: normal;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
}
form, input, button, textarea, select { 
    font-family: inherit;
    display: block; 
}

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { 
    font-size: 1rem;
    text-wrap: balance; 
}

figure, picture, img, video, svg { 
    display: block;
    height: auto; 
    max-width: 100%; 
}

ol, ul {
	list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }

@media (prefers-reduced-motion: reduce)  {
 *, *::before, *::after { 
 animation-duration: 0.01ms !important; 
 animation-iteration-count: 1 !important; 
 transition-duration: 0.01ms !important; 
 scroll-behavior: auto !important;
 transition: none;
 }
}

/* Estilos generales */




/* Estructura principal */



