/*

CONVENCION PARA ESTILOS CSS

- Posicionamiento
- Modelo de caja: 
- Tipografia
- Temas visuales
- Otros

*/

:root {
    --font-dm: "DM Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --of-white: #faf8f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*Seteamos 10px rem*/
    font-family: var(--font-dm);
}

a{
    color: black;
    text-decoration: none;

}

.container {
    width: 90%;
    margin: 0 auto;
}


.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    max-height: 440px;
    padding-bottom: 6rem;
    text-align: center;
    /* background-image: linear-gradient(45deg, var(--bitcoin-orange) 100%, var(--warm-black) 16.69%); */
    background-image: linear-gradient(207.8deg, var(--warm-black) 16.69%,var(--bitcoin-orange) 100% );

}
.hero__img{
    width: 150px;
    margin-top: 3.5rem;
}
.hero__description_container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--of-white);
}
.hero__title{
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.hero__description{
    font-size: 1.5rem;
}
.btn{
    align-self: center;
    width: max-content;
    font-size: 1.4rem;
    display: inline-block;
    padding: 12px 16px;
    /* border: 1px solid black; */
    border-radius: 4px;
}
.hero__btn{
    position: absolute;
    top: 270px;
    font-weight: bold;
    background-color: var(--of-white);
    box-shadow:  0px 3px 10px 3px rgba(186,186,186,0.6);;

}
.btn__icon{
    display: inline-block;
    /* line-height: normal; */
    vertical-align: middle;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url('/assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}


.product__table{
    border-collapse: collapse;
}